@import url('./header.css');
@import url('./footer.css');

:root {
    --fuente-principal: 'Montserrat', sans-serif;
    --fuente-logo: 'Inter', sans-serif;
    --azul-claro: #6BD1FF;
    --black: #000000;
    --white: #FFFFFF;
}

body {
    font-family: var(--fuente-principal);
    color: var(--black);
    font-size: 16px;
}

.encabezado__logo-link {
    text-decoration: none;
}

/* ==========================================
   CLASES DE UTILIDAD (ACCESIBILIDAD)
   ========================================== */
.sr-only {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
    /* Adicional: forzamos que no tenga diseño visible */
    border-style: none !important;
    text-decoration: none !important;
}

.sr-only:focus {
    position: fixed;
    top: 10px;
    left: 10px;
    width: auto;
    height: auto;
    padding: 10px 20px;
    background-color: var(--white);
    color: var(--black);
    font-family: var(--fuente-principal);
    border: 2px solid var(--azul-claro);
    border-radius: 20px;
    z-index: 9999;
    /* Al estar en foco, sí queremos diseño */
    border-style: solid !important;
    text-decoration: underline !important;
}